views/__pycache__/viewPoint5.cpython-310.pyc
views/__pycache__/viewPoint4.cpython-310.pyc
views/__pycache__/viewPoint3.cpython-310.pyc
views/__pycache__/viewPoint2.cpython-310.pyc
views/__pycache__/viewPoint1.cpython-310.pyc
views/__pycache__/menu.cpython-310.pyc
util/__pycache__/point1.cpython-310.pyc
util/__pycache__/point1.cpython-310.pyc
bdd.sqlite

util/__pycache__/checkUser.cpython-310.pyc
util/__pycache__/functions.cpython-310.pyc
util/__pycache__/point1.cpython-310.pyc
util/__pycache__/point1.cpython-310.pyc
views/__pycache__/menu.cpython-310.pyc
views/__pycache__/viewLogin.cpython-310.pyc
views/__pycache__/viewPoint1.cpython-310.pyc
util/__pycache__/point1.cpython-310.pyc
